$spectrum-Icon-xxs-size = 0.5625rem; // 9px
$spectrum-Icon-xs-size = 0.75rem; // 12px
$spectrum-Icon-s-size = 1.125rem; // 18px
$spectrum-Icon-m-size = 1.5rem; // 24px
$spectrum-Icon-l-size = 2.25rem; // 36px
$spectrum-Icon-xl-size = 3rem; // 48px
$spectrum-Icon-xxl-size = 4.5rem; // 72px
