<!doctype html>
<html lang="{{ metadata.language }}" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="theme-color" content="#000000" />
        <link rel="icon" type="image/png" href="favicon.png" />

		<meta name="generator" content="{{ eleventy.generator }}">

		{%- css %}
            {% include "node_modules/@spectrum-css/typography/dist/index.css" %}
            {% include "node_modules/@spectrum-css/tokens/dist/index.css" %}
            {% include "node_modules/@spectrum-css/textfield/dist/index.css" %}
            {% include "../../sites/index.css" %}
        {% endcss %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

        {%- js %}
            {% include "typekit.js" %}
            {% include "adobe-globalnav.js" %}
        {% endjs %}

        {% rollup "sites/index.js" | url %}

        {% if metadata.spritesheet %}
            {%- js %}
                {% include "node_modules/loadicons/index.js" %}

                loadIcons('{{ metadata.spritesheet }}', (_, content) => {
                    if (content) window.spriteContent = content;
                });
            {% endjs %}
        {% endif %}

        <script>{% getBundle "js" %}</script>

        <script src="//wwwimages2.adobe.com/etc/beagle/public/globalnav/adobe-globalnav/latest/adobe-globalnav.min.js"></script>
	</head>
	<body>
        <sp-theme color="light" scale="medium">
		    <a href="#skip" class="visually-hidden">Skip to icon table</a>

            <sp-toast variant="positive" id="notification-toast" style="z-index: 1; position: fixed; inset-inline-end: 10px; inset-block-start: 10px;">
                Markup copied to clipboard!
            </sp-toast>

            <header>
                <a href="/" style="text-decoration: none;">
                    {% include "logo.svg" %}
                </a>
                <h2 class="spectrum-Heading spectrum-Heading--sizeXXL">{{ metadata.title }}</h2>
            </header>
            <section>
                <p class="spectrum-Body spectrum-Body--sizeXL">{{ metadata.description | safe }}</p>
            </section>

            <sp-story-decorator id="skip" role="main">
                {{ content | safe }}
            </sp-story-decorator>

            <footer id="footer_global"></footer>
        </sp-theme>
		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
